.profile__btn_add {
  width: 150px;
  height: 50px;
  background-image: url(../../../../image/add-button.svg);
  border-radius: 2px;
  margin-top: 34px;
}

.profile__btn_add:hover {
  opacity: 0.5;
}

@media (max-width: 900px) {
  .profile__btn_add {
    width: 282px;
    height: 50px;
  }
}
