.popup__btn_close {
  position: absolute;
  left: 438px;
  top: -40px;
  background-image: url(../../../../image/close.svg);
  width: 32px;
  height: 32px;
}


@media (max-width: 586px) {
  .popup__btn_close {
    left: 262px;
    top: -37px;
    width: 20px;
    height: 20px;
    background-image: url(../../../../image/Close_Icon20.svg);
  }
}
